# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
node_modules/
.bin/
.venv/
.aqua/

# SARIF files
*.sarif.json

# Python caches and build directories.
*.py[cod]
*.egg-info/
build/
dist/
__pycache__

# Coverage files
.coverage
coverage.xml
